.main-page-container{
    background: url(../Media/main-page-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 200px;
 
}


.overlay{
    opacity:1.9;
    background-color:rgb(65, 65, 65);
    position:relative;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:10;
}

.main-page-dashboard-container {
    background: url(../Media/main-dashboard.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 260vh;
}

.page-bottom-card-deck
{
    z-index:100;
}